# PyCharm
.idea/
*.iml

# Python
__pycache__/
*.py[cod]
*.so

# Виртуальное окружение
.venv/
venv/
env/

# Кэш тестов
.pytest_cache/

# Jupyter checkpoint
.ipynb_checkpoints/

# Системные файлы
.DS_Store
Thumbs.db

# Большие файлы весов
artifacts/weights/*.pth